*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#050816;
    color:white;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#0f172a,#111827,#1e3a8a);
}

.hero h1{
    font-size:80px;
    color:#00ffff;
    text-shadow:0 0 20px cyan;
}

.hero p{
    font-size:24px;
    margin:20px 0;
}

.btn{
    text-decoration:none;
    color:white;
    background:#00bfff;
    padding:12px 25px;
    border-radius:30px;
    transition:0.3s;
}

.btn:hover{
    background:#00ffff;
    color:black;
}

.features{
    display:flex;
    justify-content:center;
    gap:25px;
    padding:80px 20px;
    flex-wrap:wrap;
}

.card{
    background:#111827;
    padding:25px;
    width:280px;
    border-radius:15px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px cyan;
}

.about{
    text-align:center;
    padding:80px 20px;
}

.about h2{
    color:#00ffff;
    margin-bottom:20px;
}

footer{
    text-align:center;
    padding:20px;
    background:#111827;
}